.navbar.navbar-dark.fixed-top.navbar-expand-lg.bg-dark
  .container
    a.navbar-brand(href='/')
      i.fas.fa-cube
      | InstaMate
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='.navbar-collapse')
      span.sr-only Toggle navigation
      span.navbar-toggler-icon
    .collapse.navbar-collapse
      ul.nav.navbar-nav.ml-auto
          li.dropdown(class=(title === 'Account Management') ? 'active' : undefined).nav-item
            a.dropdown-toggle.nav-link(href='#', data-toggle='dropdown')
              span Menu
              i.caret
            div.dropdown-menu
              a.dropdown-item(href='/Login') Login
              a.dropdown-item(href='/analyse') Analyse
              a.dropdown-item(href='/media') Get medias
              a.dropdown-item(href='/stories') Stories
              a.dropdown-item(href='/logout') Logout
